* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page__header {
  background-color: #0070ba;
  padding: 13px 18px 12px 15px;
}

.header__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list__div1 {
  width: 25px;
  height: 25px;
  background-color: #d8d8d8;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__list__div2 {
  width: 132px;
  height: 13px;
  background-color: #b8e986;
}

.header__list__div3 {
  display: none;
}

.header__list__div4 {
  display: none;
}

.header__list__div5 {
  width: 25px;
  height: 25px;
  background-color: #d8d8d8;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__list__div6 {
  display: none;
}

.page__main {}

.main__paragraph {
  display: none;
}

.main__container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding: 8px 19px 7px 15px;
  border-bottom: 1px solid #d8d8d8;
}

.main__container1__div1 {
  width: 50vw;
}

.main__container1__div1__div {
  width: 90px;
  height: 13px;
  background-color: #b8e986;
}

.main__container1__div2 {
  width: 50vw;
}

.main__container1__div2__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.main__container1__div2__list__item1 {
  width: 25px;
  height: 25px;
  background-color: #5ebcd8;
}

.main__container1__div2__list__item2 {
  width: 25px;
  height: 25px;
  background-color: #5ebcd8;
}

.main__container1__div2__list__item3 {
  width: 64px;
  height: 13px;
  background-color: #b8e986;
}

.main__container2 {}

.main__container2__container {
  display: flex;
  border-left: 4px solid #f9b233;
  margin: 15px 18px 13px 0px;
  padding-left: 11px;
}

.main__container2__img {
  width: 121px;
  height: 98px;
  background-color: #f8e71c;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container2__img__paragraph {
  display: none;
}

.main__container2__data {
  padding-left: 19px;
}

.main__container2__data__title {
  width: 252px;
  height: 21px;
  background-color: #417505;
  margin-bottom: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
}

.main__container2__data__paragraph {
  width: 132px;
  height: 13px;
  background-color: #b8e986;
  margin-bottom: 34px;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 7px;
}

.main__container2__data__paragraph2 {
  display: none;
}

.main__container2__data__list {
  list-style: none;
  display: flex;
}

.list2__item {
  width: 25px;
  height: 25px;
  background-color: #5ebcd8;
  margin-right: 15px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container2__data__list__item5 {
  margin-right: 42px;

}

.main__container2__data__list__item6 {
  margin: 0;
}

.main__container2__data2 {
  display: none;
}

.main__div17 {
  display: none;
}

.main__container2__container2 {
  display: none;
}

.main__container2__container3{
  display: none;
}

.linea {
  max-width: 390px;
  height: 1px;
  background-color: #d8d8d8;
  margin: auto;
}

.page__footer {
  display: flex;
  justify-content: space-between;
  padding: 19px 15px 18px 13px;
  border-top: solid 1px #d8d8d8;
  margin-top: 8px;
}

.footer__div {
  width: 167px;
  height: 13px;
  background-color: #b8e986;
}

.Oval {
  width: 13.7px;
  height: 14px;
  border-radius: 50%;
  background-color: #d0021b;
  position: absolute;
  right: 15px;
  top: 10px;
}

@media all and (min-width: 768px) {
  .body {
    background-color: #f2f1f0;
  }

  .page__header {
    display: flex;
    background-color: #17304f;
    padding: 14px 20px 13px 20px;
  }

  .header__list__div1 {
    margin-right: 37px;
  }

  .header__list__div2 {
    display: none;
  }

  .header__list__div3 {
    display: flex;
    width: 119px;
    height: 53px;
    background-color: #ffffff;
    margin-right: 360px;
  }

  .header__list__div4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77px;
    height: 25px;
    background-color: #d8d8d8;
    font-size: 12px;
    margin-right: 24px;
  }

  .header__list__div5 {
    margin-right: 34px;
  }

  .header__list__div6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #d8d8d8;
    font-size: 12px;
  }

  .Oval {
    display: none;
  }

  .main__container1 {
    display: none;
  }

  .page__main {}

  .main__paragraph {
    display: flex;
    align-items: center;
    width: 176px;
    height: 10px;
    background-color: #b8e986;
    margin: 30px 0px 10px 14px;
    font-size: 12px;
    padding-left: 7px;
  }

  .main__card {
    display: none;
  }

  .linea {
    display: none;
  }

  .main__container2 {
    background-color: white;
    border-top: solid 30px #0070ba;
    width: 740px;
    margin: auto;
    margin-bottom: 41px;
  }

  .main__container2__img {
    width: 708px;
    height: 236px;
    background-color: #f8e71c;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .page__footer {
    display: none;
  }

  .main__card1 {
    flex-direction: column;
    border: 0;
    padding-left: 20px;
  }

  .main__container2__img__paragraph {
    display: inline;
    width: 100px;
    height: 25px;
    background-color: #5ebcd8;
    margin-left: 25px;
  }

  .main__container2__line {
    height: 1px;
    margin-top: 54px;
    background-color: #e4e4e3;
    width: 708px;
    margin-bottom: 40px;
  }

  .main__container2__data {
    flex-direction: column;
    display: flex;
    padding-left: 0;
  }

  .main__container2__data__title {
    margin-bottom: 15px;
  }

  .main__container2__data__paragraph {
    order: 1;
    margin-bottom: 8px;
  }

  .main__container2__data__paragraph2 {
    display: inline;
  }

  .main__container2__data__list {
    margin-bottom: 33px;
  }

  .main__container2__data__list__item5 {
    margin-right: 482px;
  }

  .main__container2__data2 {
    display: flex;
    width: 708px;
    border-top: 1px solid #e4e4e3;
    padding: 9px 0 8px 2px;
  }

  .main__container2__data2__div1 {
    margin-right: 161px;
  }

  .main__container2__data2__paragraph__long {
    width: 192px;
    height: 13px;
    background-color: #b8e986;
    margin-top: 4px;
  }

  .main__container2__data2__paragraph {
    width: 145px;
    height: 13px;
    background-color: #b8e986;
    margin-top: 4px;
  }

  .main__div17 {
    display: inline;
    width: 145px;
    height: 13px;
    background-color: #b8e986;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 8px;
  }

  .main__container2__container2 {
    margin-top: 58px;
    width: 704px;
    height: 339px;
    display: inline;
    background-color: #e4e4e3;
    border-top: 30px solid #0070ba;
  }

  .main__container2__container3 {
    display: flex;
    justify-content: space-between;
  }

  .main__container2__container3__paragraph {
    width: 129px;
    height: 18px;
    background-color: #bd10e0;
    margin-top: 25px;
    margin-bottom: 46px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #ffffff;
    padding-left: 8px;
  }

}